SECRET_KEY=super-secret

MYSQL_URL=mysql+pymysql://root:password@localhost/campusquery

MONGO_URL=mongodb://localhost:27017
MONGO_DB_NAME=campusquery

ENV=development


ENV=production

GOOGLE_API_KEY=

PROD_MONGO_URL=
PROD_MYSQL_URL=


VECTOR_DB=chroma   # # chroma or qdrant

QDRANT_URL=your_url
QDRANT_API_KEY=your_api_key
QDRANT_COLLECTION=entries_collection