Flask==3.1.2
Flask-Cors==6.0.2
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0

SQLAlchemy==2.0.45
PyMySQL==1.1.2
pymongo==4.16.0

PyJWT==2.10.1
python-dotenv==1.2.1

gunicorn==23.0.0

langchain==1.2.3
langgraph==1.0.5
langchain-google-genai==4.1.3
